footer{
    background-color: #333333;
    padding: 40px 0px;
    color: white;

    .col-heading{
        font-size: 18px;
        margin-bottom: 20px;
    }
    ul{
        li{
            display: block;
            margin-bottom: 10px;
        }
    }
}