.banner-section{
   .carousel-item{
    height: 70vh;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .carousel-caption{
        left: initial !important;
        text-align: end !important;
        bottom: initial !important;
        top: 50% !important;
        transform: translateY(-50%);
    }
   }
}